@model List<BlogModel>
@{
    ViewData["Title"] = "Home Page";
}


<h1>San kyi tr pr </h1>
  <a href="/Blog/Create" class="btn btn-primary">Create</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Blog Id</th>
      <th scope="col">Blog Title</th>
      <th scope="col">Blog Author</th>
      <th scope="col">Blog Content</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    @foreach(BlogModel ea in Model) {
<tr>
      <th scope="row">@ea.Blog_Id</th>
      <td>@ea.Blog_Title</td>
      <td>@ea.Blog_Author</td>
      <td>@ea.Blog_Content</td>

      <td>
        <a href="/Blog/edit/@ea.Blog_Id" class="btn btn-warning">edit</a>
      </td>

      <td>
        <a href="/Blog/delete/@ea.Blog_Id" class="btn btn-danger">Delete</a>
      </td>

    </tr>
    }
   
  </tbody>
</table>