<form action="/Blog/Save" method="post">
  <div>
    <label for="Blog_Title" class="form-label">Blog Title</label>
    <input type="text" class="form-control" id="Blog_Title" name="Blog_Title">
  </div>

  <div>
    <label for="Blog_Author" class="form-label">Blog Author</label>
    <input type="text" class="form-control" id="Blog_Author" name="Blog_Author">
  </div>

  <div>
    <label for="Blog_Content" class="form-label">Blog Content</label>
    <input type="text" class="form-control" id="Blog_Content" name="Blog_Content">
  </div>
  
  <a href="/Blog" class="btn btn-primary">Back</a>
  <button class="btn btn-success" type="submit">Save</button>   
</form>